name: Terraform Backend and Bucket Creation

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout the repository
      - name: Checkout Code
        uses: actions/checkout@v3

      # Step 2: Set up Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_key: ${{ secrets.GCP_TF_KEY }}
          export_default_credentials: true

      # Step 3: Set Google Application Default Credentials
      - name: Export Google Credentials
        run: echo "${{ secrets.GCP_TF_KEY }}" > /tmp/google-credentials.json
      - name: Set Environment Variable
        run: echo "GOOGLE_APPLICATION_CREDENTIALS=/tmp/google-credentials.json" >> $GITHUB_ENV

      # Step 4: Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6 # Update to your required Terraform version

      # Step 5: Initialize Terraform
      - name: Terraform Init
        run: terraform init
        env:
             GOOGLE_CREDENTIALS: ${{ secrets.GCP_TF_KEY}}

      # Step 6: Terraform Validate
      - name: Terraform Validate
        run: terraform validate
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_TF_KEY}}

      # Step 7: Terraform Plan
      - name: Terraform Plan
        run: terraform plan -var="bucket_prefix=tftk2024" -out=tfplan
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_TF_KEY}}

      # Step 8: Terraform Apply
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' # Apply only on main branch
        run: terraform apply -auto-approve tfplan
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_TF_KEY}}
